<black-box>
  <p class="title"> Ludvig Björkman </p>
  <p class="sub"> Gymnasieingenjör, Systemutvecklare.</p>
</black-box>

<white-box>
  <div class="text">
    <p class="info"> Mitt namn är Ludvig Björkman, jag är 19 år gammal och jag har just slutfört min utbildning som
      Gymnasieingenjör på
      NTI Gymnasiet Umeå. Under utbildningen har vi fått lära oss att jobba agilt med webbutveckling och samarbeta i
      lag.
      Jag har även gått inritkningen serverdrift, där jag fick lära mig att hantera linuxsystem, sätta upp webservrar
      och
      hantera virtuella maskiner. Om du vill se de projekt jag jobbat på så finns de under Webdev, och Devops i
      sidomenyn.
    </p>
  </div>
  <div class="image">
    <img class="selfImage" src="./assets/thatpicture.png">
  </div>
</white-box>
<black-box></black-box>
