<black-box>
  <div class="titles">
    <p class="title"> Ludvig Björkman </p>
    <p class="sub"> Gymnasieingenjör, Systemutvecklare.</p>
  </div>
</black-box>

<white-box>

  <div class="col-md-7">

    <p class="info"> Mitt namn är Ludvig Björkman, jag är 20 år gammal och jag har just slutfört min utbildning som
      Gymnasieingenjör på
      NTI Gymnasiet Umeå. Under utbildningen har vi fått lära oss att jobba agilt med webbutveckling och samarbeta i
      lag.
      Jag har även gått inritkningen serverdrift, där jag fick lära mig att hantera linuxsystem, sätta upp webservrar
      och
      hantera virtuella maskiner. Nedan kan du få se lite av det jag jobbat på, om du vill se Github repon för dessa
      projekt så är de bara att klicka på bilden.
    </p>
  </div>
  <div class="col-md-4">
    <img class="selfImage" src="./assets/self.png">
  </div>


</white-box>
<black-box>
  <app-columns class="col-md-4" [columnImage]="'r1.png'"
    [columnImageLink]="'https://github.com/luddoro/rankone.global-app'"
    [columnText]="'Jag gjorde 10 veckors praktik på RankOne.global där jag fick i uppdrag att ompaketera deras hemsida som en mobilapp. '">
  </app-columns>
  <app-columns class="col-md-4" [columnImage]="'nti-lan.png'"
    [columnImageLink]="'https://github.com/TE4-Umea/lan-frontend'"
    [columnText]="'Detta var ett projekt jag gjorde tillsammans med två andra klasskamrater. Det är en Progressive Web App specifikt skapad för att arrangera LAN evenemang. Skriven i VueJS, Nuxt, Laravel.'">
  </app-columns>
  <app-columns class="col-md-4" [columnImage]="'blitzieporo.png'"
    [columnText]="'Discord bot jag skapade tillsammans med två vänner som används av en mindre League of Legends community för att hålla i roliga Quiz :D'">
  </app-columns>
</black-box>
