<black-box>
  <div class="titles">
    <p class="title"> Ludvig Björkman </p>
    <p class="sub"> Gymnasieingenjör, Systemutvecklare.</p>
  </div>
</black-box>

<white-box>

  <div class="col-md-7">

    <p class="info"> Mitt namn är Ludvig Björkman, jag är 19 år gammal och jag har just slutfört min utbildning som
      Gymnasieingenjör på
      NTI Gymnasiet Umeå. Under utbildningen har vi fått lära oss att jobba agilt med webbutveckling och samarbeta i
      lag.
      Jag har även gått inritkningen serverdrift, där jag fick lära mig att hantera linuxsystem, sätta upp webservrar
      och
      hantera virtuella maskiner. Om du vill se de projekt jag jobbat på så finns de under Webdev, och Devops i
      sidomenyn.
    </p>
  </div>
  <div class="col-md-4">
    <img class="selfImage" src="./assets/self.png">
  </div>


</white-box>
<black-box>
  <app-columns class="col-md-4" [columnImage]="'r1.png'" [columnImageLink]="'https://github.com/TE4-Umea/lan-frontend'"
    [columnText]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu pellentesque elit. Nullam porta urna at purus porttitor, vitae bibendum urna molestie. Ut sodales gravida congue. '">
  </app-columns>
  <app-columns class="col-md-4" [columnImage]="'blitzieporo.png'" [columnText]="'nononononononononononononono'">
  </app-columns>
  <app-columns class="col-md-4" [columnImage]="'blitzieporo.png'" [columnText]="'nononononononononononononono'">
  </app-columns>
</black-box>
