.titles {
  padding: 200px 0;
  text-align: center;
}

.title {
  font-size: 50px;
}

.sub {
  font-size: 30px;

}

.title,
.sub {
  color: white;

}


.info {
  font-size: 17px;
  line-height: 25px;
}

.selfImage {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
