.title {
  font-size: 50px;
}

.sub {
  font-size: 30px;
}

.title,
.sub {
  color: white;

}

.info {
  font-size: 17px;
  line-height: 25px;
}

.selfImage {
  border-radius: 20px;
  width: 10%;
  height: 20%;

}
